<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sandy_walmartsync>
            <general>
                <enabled>0</enabled>
                <environment>production</environment>
                <api_base_url>https://marketplace.walmartapis.com</api_base_url>
                <batch_size>50</batch_size>
                <retry_count>3</retry_count>
                <inventory_buffer>0</inventory_buffer>
            </general>
            <safety>
                <write_enabled>0</write_enabled>
                <item_feed_enabled>0</item_feed_enabled>
                <item_feed_max_items>25</item_feed_max_items>
                <cron_enabled>0</cron_enabled>
                <cron_expression>30 3 * * *</cron_expression>
            </safety>
            <seasonal>
                <enabled>1</enabled>
                <category_ids></category_ids>
                <main_category_values>Chocolate,Chocolates,Chocolate Covered Sweets,Sugar Free Chocolate,Sugar-Free Chocolate,Nougat,Nougats,Marzipan</main_category_values>
                <zero_start>05-01</zero_start>
                <zero_end>11-30</zero_end>
                <timezone>America/New_York</timezone>
            </seasonal>
            <new_items>
                <category_id>273</category_id>
                <hold_start_date>2099-12-31T00:00:00Z</hold_start_date>
                <hold_end_date>2099-12-31T23:59:59Z</hold_end_date>
                <catalog_max_age_hours>24</catalog_max_age_hours>
            </new_items>
        </sandy_walmartsync>
    </default>
</config>
