<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cataloginventory_stock_item_save_commit_after">
        <observer name="sandy_walmartsync_refresh_grid_stock"
                  instance="Sandy\WalmartSync\Observer\StockItemSaveAfter"/>
    </event>
</config>
